In [42]:
print(type("hello"))

type("hello")

print(str)


print("say'hello'")

print('say"hello"')

print("say\"hello\"")

print("\\ \\ \\ \\")

print("he"+"llo")

print("hello"+1)

pr

print("""동해물과 백두산이 마르고 닳도록 
      하느님이 보우하사 우리나라 만세 
      무궁화 삼천리 화려강산 대한사람
      대한으로 길이 보전하세""")

print("hello"[0])

print("hello"[0],[4])

print("hello"[0,4])

print("hello"[4])

print("hello"[0:4])

print("hello"[1:5])

print("hello"[2:6])

print("hello"[0:2])

<class 'str'>
<class 'str'>
say'hello'
say"hello"
say"hello"
\ \ \ \
hello

<>:31: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:31: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?

TypeError: can only concatenate str (not "int") to str

In [41]:
print("hello"[1:3])
print("hello"[2:4])

hi="hello"
print(hi[0:2])

print(len("hello"))

print("please don\'t say good bye")

len("please don\'t say good bye")

69

print(69)

el
ll
he
5
please don't say good bye
69

In [44]:
print("5+7=",5+7) ##쉼표 필수!

5+7= 12

In [45]:
print(2**3) ##제곱

8

In [46]:
print(2/3) ##나누기 전체 출력

0.6666666666666666

In [47]:
print(30//2) ##몫 출력

15

In [48]:
pi

NameError: name 'pi' is not defined

In [54]:
pi=3.14159265

print(pi)

In [56]:
pi-12

-8.85840735

In [57]:
hi-pi

TypeError: unsupported operand type(s) for -: 'str' and 'float'

In [58]:
r=10
print("원 둘레 =", 2*pi*r)
print("원 넓이 =", pi*r*r)

원 둘레 = 62.831853
원 넓이 = 314.159265

In [63]:
둘레=2*pi*r

In [64]:
넓이=pi*r**2

In [65]:
둘레

62.831853

In [66]:
넓이

314.159265

In [67]:
둘레*넓이

19739.208757068045

In [68]:
a=10
a+=10
a

20

In [69]:
a=a+10
a

30

In [71]:
a=10
a-=9
a

1

In [72]:
a=10
a+=-3
a

7

In [77]:
a=10
a/=3 ##나눗셈(소숫점 포함)
a

3.3333333333333335

In [76]:
a=10
a%=3 ##나머지만
a

1

In [78]:
num=100
num+=10
num+=20
num+=30
num

160

In [81]:
input("insert hello > ")

insert hello > hi

'hi'

In [82]:
num = input("insert number > ")

insert number > 123

In [86]:
num

'123'

In [95]:
str_a = input("insert something_a > ")
int_a = int(str_a)

str_b = input("insert something_b > ")
int_b = int(str_b)

print("문자열 자료 : ", str_a+str_b) ##숫자 입력시 n과 n이 '이어서' 나옴 -> string 문 이용했기 때문
print("숫자열 자료 : ", int_a+int_b) ##숫자 입력시 n과 n이 '더해서' 나옴 -> int 문 이용했기 때문

insert something_a > 852
insert something_b > 258
문자열 자료 :  852258
숫자열 자료 :  1110

In [102]:
book='모두의 알고리즘 파이썬'
book=book+', Do it! 자료구조와 함께배우는 알고리즘 입문'
print(book)

모두의 알고리즘 파이썬, Do it! 자료구조와 함께배우는 알고리즘 입문

In [105]:
str_a = input("책을 읽고 싶습니까?")
print(book)

책을 읽고 싶습니까?ㄴ
모두의 알고리즘 파이썬, Do it! 자료구조와 함께배우는 알고리즘 입문

In [109]:
output_a=int("52")
output_b=float("52.273")

print(type(output_a),output_a)
print(type(output_b),output_b)

<class 'int'> 52
<class 'float'> 52.273

In [113]:
type(output_a)

int

In [114]:
type(output_b)

float

In [115]:
output_a

52

In [116]:
output_b

52.273

In [119]:
"{}".format(10)
"{}{}".format(10,20)

'1020'

In [120]:
str_a="{}".format(10)

print(str_a)
type(str_a)

10

str

In [123]:
format_a = "{}만원".format(5000)
format_b = "파이썬 열공하여 첫 연봉 {}만원 만들기 ".format(5000)
format_c = "{} {} {}".format(3000,4000,5000)
format_d = "{} {} {}".format(1,"문자열",True)

In [124]:
print(format_a)
print(format_b)
print(format_c)
print(format_d)

5000만원
파이썬 열공하여 첫 연봉 5000만원 만들기
3000 4000 5000
1 문자열 True

In [128]:
a="{:05d}".format(52)
a

'00052'

In [152]:
# 기본
output_h = "{:d}".format(52)

# 특정 칸에 출력하기
output_b="{:5d}".format(52)
output_c="{:10d}".format(52)

# 빈칸 0으로 채우기
output_d="{:05d}".format(52)
output_e="{:05d}".format(-52)

print("# 기본")
print(output_a)
print("# 특정 칸에 출력하기")
print(output_b)
print(output_c)
print("# 빈칸 0으로 채우기")
print(output_d)
print(output_e)

# 기본
52
# 특정 칸에 출력하기
   52
        52
# 빈칸 0으로 채우기
00052
-0052

In [150]:
25000*24*6

3600000

In [153]:
output_h="{:+5d}".format(52)
output_i="{:+5d}".format(-52)
output_j="{:=+5d}".format(52)
output_k="{:=+5d}".format(-52)
output_l="{:+05d}".format(52)
output_m="{:+05d}".format(-52)
print("# 조합하기")
print(output_h)
print(output_i)
print(output_j)
print(output_k)
print(output_l)
print(output_m)

# 조합하기
  +52
  -52
+  52
-  52
+0052
-0052

In [159]:
output_a = "{:f}".format(52.273)
output_b = "{:15f}".format(52.273)
output_c = "{:+15f}".format(52.273)
output_d = "{:+015f}".format(52.273)

print(output_a)
print(output_b)
print(output_c)
print(output_d)

52.273000
      52.273000
     +52.273000
+0000052.273000

In [161]:
output_a="{:15.3f}".format(52.273)
output_b="{:15.2f}".format(52.273)
output_c="{:15.1f}".format(52.273)

print(output_a)
print(output_b)
print(output_c)

         52.273
          52.27
           52.3

In [166]:
a="Hello, Everyone"
a.upper()

'HELLO, EVERYONE'

In [167]:
a.lower()

'hello, everyone'

In [172]:
input_a = """
       안녕하세요
문자열의 함수를 알아봅시다.
        THE KIM.
"""
print(input_a)

       안녕하세요
문자열의 함수를 알아봅시다.
        THE KIM.

In [177]:
print(input_a.strip())

안녕하세요
문자열의 함수를 알아봅시다.
        THE KIM.

In [236]:
a=0
a =int(a)
a = input("press any number:")
str(a)
print(a.isalnum())
print(a.isalpha())
output_a = "{:d}".format(a) # int절을 str로 번역할 키워드가 필요
print(output_a)

press any number:1
True
False

ValueError: Unknown format code 'd' for object of type 'str'

In [183]:
a="hihihello".find("hi")
print(a)

0

In [184]:
b="hihihello".rfind("hi")
print(b)

2

In [185]:
print("the"in("kim"))

False

In [186]:
print("the"in("the kim")) #in 뒤에 있는 문장에 the 가 포함되어 있으므로 True값 나옴.

True

In [192]:
a="10 20 30 40 50".split("' '")
print(a)

['10 20 30 40 50']

In [193]:
a="10 20 30 40 50".split(" ")
print(a)

['10', '20', '30', '40', '50']

In [205]:
print(10!=100)
print("가방"=="가방")
print("가방"!="하마")
print("가방"<"하마") # True 나오는 이유 = 문자열상 '하'가 더 큼 (가나다라마바사...<하)
print("가방">"하마")

True
True
True
True
False

In [208]:
x=10
under_20 = x < 20
print("not under_20:", not under_20)

not under_20: False

In [212]:
if True:
    print("True")
    print("this is true")

True
this is true

In [215]:
#입력을 받습니다.
number = input("insert any number : ")
number = int(number)

#양수 조건
if number > 0:
    print("양수입니다.")
    
#음수 조건
if number < 0:
    print("음수입니다.")
    
#0 조건
if number == 0:
    print("0 입니다.")

insert any number : 0
0 입니다.

In [216]:
# 날짜/시간과 관련된 기능을 가져옵니다.
import datetime

#현재 날짜/시간을 구합니다.
now = datetime.datetime.now()

#출력합니다
print(now.year,"year")
print(now.month,"month")
print(now.day,"day")
print(now.hour,"hour")
print(now.minute,"minute")
print(now.second,"second")

2021 year
4 month
1 day
14 hour
53 minute
55 second

In [ ]:
now #shift + tap 누르면 now문 쓰는 방법 나옴.

In [224]:
# 날짜/시간과 관련된 기능을 가져옵니다.
import datetime

#현재 날짜/시간을 구합니다.
now = datetime.datetime.now()

In [220]:
print("{}year {}month {}day {}hour {}minute {}second".format(
    now.year,
    now.month,
    now.day,
    now.hour,
    now.minute,
    now.second
))

2021year 4month 1day 14hour 54minute 22second

In [221]:
print("{}/ {}/ {}/ {}/ {}/ {}/".format(
    now.year,
    now.month,
    now.day,
    now.hour,
    now.minute,
    now.second
))

2021/ 4/ 1/ 14/ 54/ 22/

In [225]:
print("{}year {}month {}day {}minute ".format(
    now.year,
    now.month,
    now.day,
    now.minute,
))

2021year 4month 1day 2minute

In [226]:
import datetime

now = datetime.datetime.now()

if 3 <= now.month <= 5:
    print("이번 달은 {}월로 봄입니다!".format(now.month))
    
if 6 <= now.month <= 8:
    print("이번 달은 {}월로 여름입니다!".format(now.month))
    
if 9 <= now.month <= 11:
    print("이번 달은 {}월로 가을입니다!".format(now.month))
    
if 12 <= now.month <= 2:
    print("이번 달은 {}월로 겨울입니다!".format(now.month))

이번 달은 4월로 봄입니다!

In [237]:
now = input("이번 달은 몇월 입니까? : ")  ##input문 이용 테스트.
now = int(now)  

if 1<= now <= 2:
    print("이번 달은 {}월로 겨울입니다!".format(now))

if 3 <= now<= 5:
    print("이번 달은 {}월로 봄입니다!".format(now))
    
if 6 <= now<= 8:
    print("이번 달은 {}월로 여름입니다!".format(now))
    
if 9 <= now<= 11:
    print("이번 달은 {}월로 가을입니다!".format(now))
    
if 12 <= now:
    print("이번 달은 {}월로 겨울입니다!".format(now))

이번 달은 몇월 입니까? : 4
이번 달은 4월로 봄입니다!

In [242]:
# 입력을 받습니다.
num = input("정수 입력 : ")

# 마지막 자리 숫자를 추출
last_character = num[-1]

#숫자로 변환하기
last_num=int(last_character)

#짝수 확인
if last_num == 0 \
    or last_num == 2\
    or last_num == 4\
    or last_num == 6\
    or last_num == 8:
    print("짝수입니다.")
    
#홀수 확인
if last_num == 1 \
    or last_num == 3\
    or last_num == 5\
    or last_num == 7\
    or last_num == 9:
    print("홀수입니다.")

정수 입력 : 10
짝수입니다.

In [245]:
# 입력을 받습니다.
num = input("정수 입력 : ")

# 마지막 자리 숫자를 추출
last_character = num[-1]

#숫자로 변환하기
last_num=int(last_character)

if last_num %2 == 0: #나머지
    print("짝수")

if last_num %2 == 1:
    print("홀수")

정수 입력 : 18
짝수

In [ ]:
# 입력을 받습니다.
num = input("정수 입력 : ")

# 마지막 자리 숫자를 추출
last_char = num[-1] #숫자중 마지막 문자(character)를 추출함.

#짝수 조건
if last_char > in

In [248]:
# 입력을 받습니다.
num = input("정수 입력 : ")
num = int(num)

#조건문을 사용합니다.
if num % 2 == 0:
    #조건문이 참일 때, 즉 짝수 조건
    print("짝수입니다")
else: #조건문이 참일 때, 즉 홀수 조건
    print("홀수입니다.")

정수 입력 : 19
홀수입니다.

In [251]:
import datetime

now = datetime.datetime.now()
month = now.month

if 3 <= month <= 5:
    print("이번 달은 봄입니다!")
    
elif 6 <= month <= 8:
    print("이번 달은 여름입니다!")
    
elif 9 <= month <= 11:
    print("이번 달은 가을입니다!")
    
elif 12 <= month <= 2:
    print("이번 달은 겨울입니다!")

이번 달은 봄입니다!

In [257]:
score = float(input("학점 입력 : "))


if score == 4.5:
    print("신")
elif 4.2 <= score < 4.5:
    print("교수님의 사랑")
elif 3.5<= score < 4.2:
    print("현 체제의 수호자")
elif 2.8<= score < 3.5:
    print("일반인")
elif 2.3<= score < 2.8:
    print("일탈을 꿈꾸는 소시민")
elif 1.75<=score < 2.3:
    print("오락문화의 선구자")
elif 1.0<= score < 1.75:
    print("불가촉천민")
elif 0.5<= score < 1.0:
    print("자벌레")
elif 0< score < 0.5:
    print("플랑크톤")
elif score == 0:
    print("시대를 앞서가는 혁명의 씨앗")

학점 입력 : 4.5
신

In [261]:
a = [273, 32, 103, "문자열", True, False]
type(a)

list

In [262]:
a[3]

'문자열'

In [263]:
a[1]

32

In [270]:
a[-2] = "Verita"
a[5] = "Falso"

In [266]:
a[1:3]

[32, 103]

In [272]:
a[-2]

'Verita'

In [273]:
a[-1]

'Falso'

In [275]:
a[-2][0]

'V'

In [279]:
list_a=[1,2,3]
list_b=[4,5,6]

print()

print(list_a+list_b)

print(list_a+list_a)

print(list_a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [280]:
len(list_a)

3

In [281]:
list_a

[1, 2, 3]

In [283]:
list_a.append(4) #append = 뒤에 n 붙인다는 뜻. 현 문장 n=4

In [284]:
list_a

[1, 2, 3, 4]

In [287]:
list_a.insert(0,10) #insert = 앞에 n 붙인다는 뜻. 현 문장 n=10

In [288]:
list_a

[10, 1, 2, 3, 4]

In [289]:
list_a.extend([4,5,6])

In [290]:
list_a

[10, 1, 2, 3, 4, 4, 5, 6]

In [291]:
del list_a

In [293]:
print(list_b)

[4, 5, 6]

In [297]:
list_b.pop(2)  #list_b 중 3번째 글자기에 2를 입력 ex. 순서 = 0,1,2

6

In [299]:
b=[0,1,2,3,4,5,6]
del b[3:6]
b

[0, 1, 2, 6]