In [4]:
students =[
    {"name": "양진욱", "korean": 100, "math":70, "english": 100, "science":80},
    {"name": "양선욱", "korean": 90, "math":90, "english": 100, "science":92},
    {"name": "양미욱", "korean": 80, "math":70, "english": 100, "science":80},
    {"name": "양자욱", "korean": 70, "math":80, "english": 100, "science":80},
    {"name": "양정욱", "korean": 60, "math":60, "english": 100, "science":80},
    {"name": "양태욱", "korean": 100, "math":50, "english": 100, "science":80}    
]

print("이름", "총점", "평균", sep="\t")
     
    for student in students:
        score_sum = student["korean"]+student["math"]+\
            student["english"]+student["science"]
        score_average = score_sum / 4
        print(student["name"], score_sum, score_average,sep="\t")

IndentationError: unexpected indent (<ipython-input-4-a11e5a363948>, line 12)

In [5]:
def creat_student(name, korean, math, english, science):
    return{
        "name":name,
        "korean":korean,
        "math":math,
        "english":english,
        "science":science
    }
students = [
    creat_student("윤인성", 87,98,88,95),
    creat_student("연하진", 92,98,96,98),
    creat_student("구지연", 76,96,94,92),
    creat_student("나선주", 98,92,96,92),
    creat_student("윤아린", 95,98,98,98),
    creat_student("윤명월", 64,88,92,92)
]

print("이름", "총점", "평균", sep="\t")
for student in students:
    score_sum = student["korean"]+student["math"]+\
        student["english"]+student["science"]
    score_average = score_sum / 4
    
    print(student["name"], score_sum, score_average, sep="\t")

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	358	89.5
나선주	378	94.5
윤아린	389	97.25
윤명월	336	84.0

In [7]:
def create_student(name,korean,math, english, science):
    return {
        "name": name,
        "korean": korean,
        "math": math,
        "english": english,
        "science": science
    }

def student_get_sum(student):
    return student["korean"] + student["math"] +\
        student["english"] + student["science"]

def student_get_average(student):
    return student_get_sum(student) /4

def student_to_string(student):
    return "{}\t{}\t{}".format(
        student["name"],
        student_get_sum(student),
        student_get_average(student))

students = [
    create_student("윤인성", 87,98,88,95),
    create_student("연하진", 92,98,96,98),
    create_student("구지연", 76,96,94,90),
    create_student("나선주", 98,92,96,92),
    create_student("윤아린", 95,98,98,98),
    create_student("윤명월", 64,88,92,92),
]   
print("이름", "총점", "평균", sep="\t")
for student in students:
    print(student_to_string(student))

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤명월	336	84.0

In [11]:
class student:
    def __init__(self, name, korean, math, english, science):
        self.name=name
        self.korean=korean
        self.math=math
        self.english=english
        self.science=science
        
students = [
    student("윤인성", 87,98,88,95),
    student("연하진", 92,98,96,98),
    student("구지연", 76,96,94,90),
    student("나선주", 98,92,96,92),
    student("윤아린", 95,98,98,98),
    student("윤명월", 64,88,92,92)
]   

students[0].name
students[0].korean
students[0].math
students[0].english
students[0].science

95

In [12]:
print(students[0].name)
print(students[0].korean)
print(students[0].math)
print(students[0].english)
print(students[0].science)

윤인성
87
98
88
95